<script type="text/javascript" src="/js/jquery.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<p>Escoje la fecha:<p>

<div id="form01">
<input id="dateInput" type="date">
<input type="button" value="buscar" onClick="getDayAtt(this)">
</div><br>

<div id="allClasses">

<div class="card">
<a class="card-header" href="javascript:toggle('class1')">11:00-13:15     Classname </a>
<div id="class1" style="display: none">
<p>peek-a-boo</p>
</div>
</div>

</div>

<script>
document.getElementById("dateInput").valueAsDate = new Date();
var div02 = document.getElementById("div02");
var text02 = document.createElement("p");

function getDayAtt(){
//document.getElementById("dateInput").valueAsDate.getDay();
d=[6,0,1,2,3,4,5][document.getElementById("dateInput").valueAsDate.getDay()]

if (d==5 || d==6){
	alert("Los dias de fin de semana no se pueden seleccionar")
} else {
	$.ajax({
		url: "/users/attendence",
		method: "POST",
		contentType: "application/json",
		data: JSON.stringify({day:d}),
		success: function(response){
			console.log(response)
			var a = response;
			
			var allClassesId = document.createElement("div");
			allClassesId.className = "card";
			
			var toggle = document.createElement("a");
			toggle.className = "card-header";
			toggle.setAttribute("href", "javascript:toggle('class1')");
			toggle.innerHTML = text02; 
			
			var allClassesId = document.createElement("div");
			allClassesId.className = "class1";
			allClassesId.style.display = "none";
			
			var p1 = document.createElement("p");
			var t2 = document.createTextNode("peek-a-chu");
			
			
			for (i=0;i<response.length;i++){
				var d1=response[i][0]+"";
				var cut1=d1.length-2;
				var d2=response[i][1]+"";
				var cut2=d2.length-2;
				
				text02.innerHTML = d1.slice(0,cut1)+":"+d1.slice(cut1,d1.length)+" - "+d2.slice(0,cut2)+"  "+d2.slice(cut2,d2.length)+" - "+response[i][2].replace(/_/g," ");
				console.log(text02);
				
				
				console.log(div03)
			}
		}
	});
}
}


function toggle(button) {
	var content = document.getElementById(button);
	if(content.style.display == "block") {
    		content.style.display = "none";
  	}
	else {
		content.style.display = "block";
	}
}
</script>